[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dr-cli = "*"
djangorestframework-simplejwt = "*"
django-apscheduler = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
