[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dr-cli = "*"
djangorestframework-simplejwt = "*"
django-apscheduler = "*"
python-dateutil = "*"
psycopg2-binary = "*"
django-multiselectfield = "*"
drf-nested-routers = "*"
pillow = "*"
numpy = "*"
scipy = "*"
scrapy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
