<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escrow Report</title>
    <style>
        /* Add some basic styling to your email */
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <p>Hello {{escrow_agent.first_name|capfirst}},</p>
    <p>You are the escrow agent on file for {{policy.name}}. Premiums were due 3 days ago, here is a list of all the
        people who haven't been marked as paid.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Premium amount</th>
                <th>Premium due</th>
            </tr>
        </thead>
        <tbody>
            {% for premium in unpaid_premiums %}
            <tr>
                <td>{{ premium.payer__first_name }} {{ premium.payer__last_name }}</td>
                <td>{{ premium.payer__email }}</td>
                <td>${{ premium.premium_formated }}</td>
                <td>{{ premium.due_date }} ago</td> <!-- formatted as timesince -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Reach out to fellow members or visit <a href="{{ policy_link }}">your policy</a> to update member statuses.</p>
    <p>Thanks,</p>
    <p>Open Insure System</p>

</body>

</html>