<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escrow Report</title>
    <style>
        /* Add some basic styling to your email */
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <p>Hello {{escrow_agent.first_name}},</p>
    <p>You are the escrow agent on file for {{policy.name}}. Premiums were due 3 days ago, here is a list of all the
        people who haven't been marked as paid.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Premium amount</th>
                <th>Premium due</th>
            </tr>
        </thead>
        <tbody>
            {% for premium in unpaid_premiums %}
            <tr>
                <td>{{ premium.payer.first_name }} {{ premium.payer.last_name }}</td>
                <td>{{ premium.payer.email }}</td>
                <td>${{ premium.amount / 100 |floatformat:2 }}</td>
                <td>${{ premium.due_date|timesince }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>