.text-center {
    text-align: center !important;
}

#reat-content {
    font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
        Helvetica Neue, Helvetica, Arial, sans-serif;
}
.intro .header {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
.btn {
    transition: all 0.3s;
}
.page-wrapper {
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.page-wrapper .page {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.page-wrapper .page h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}
.page-wrapper .page .separator {
    margin-bottom: 65px;
    display: inline-block;
    width: 30px;
    height: 5px;
    background: #1890ff;
    border-radius: 2.5px;
}
.card {
    text-decoration: none;
}
.card .title,
.card .description {
    color: rgba(0, 0, 0, 0.65) !important;
    font-size: 14px;
    font-weight: 300;
}
.card:hover .title {
    color: rgba(0, 0, 0, 0.65) !important;
}
.features img {
    margin-top: 0 !important;
}
.page h2,
.page h4,
.page h5,
.page span,
.page p,
.page a,
.page .feature,
.page .card-wrapper,
.page .main-info,
.page .detail {
    will-change: transform;
}
.page .main-info {
    line-height: 36px;
}
.banner {
    height: 100%;
    max-width: 1500px;
    margin: auto;
    position: relative;
}
.banner svg {
    display: block;
    margin-left: -30px;
    padding-top: 20px;
}
.banner-wrapper {
    background: #f8fafe;
    padding-top: 64px;
    height: 620px;
    overflow: hidden;
}
.banner > div {
    display: inline-block;
}
.banner-img-wrapper {
    width: 60%;
    height: 100%;
}
.banner-text-wrapper {
    width: 40%;
    padding-right: 114px;
    height: 265px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.banner-text-wrapper h1 {
    font-size: 46px;
}
.banner-text-wrapper p {
    font-size: 16px;
    margin: 50px 0 60px;
    font-weight: 300;
}
.banner-text-wrapper a {
    display: inline-block;
}
.banner-text-wrapper a .ant-btn {
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 24px;
}
.banner-text-wrapper a .ant-btn:hover {
    box-shadow: 0 4px 12px rgba(24, 144, 255, 0.4);
    transform: translateY(-4px);
}
.page1 {
    background: #f8fafe;
    padding-bottom: 100px;
    overflow: initial;
    min-height: 372px;
}
.page1 .card {
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    color: #868e96;
    display: inline-block;
    max-width: 360px;
    height: 272px;
    padding: 32px;
    box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
    margin: 0 auto;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    text-align: center;
    border-radius: 4px;
}
.page1 .card .card-img-top {
    width: 100%;
    border-top-left-radius: calc(-0.75rem);
    border-top-right-radius: calc(-0.75rem);
}
.page1 .card h3 {
    font-size: 30px;
}
.page1 .card img {
    height: 50px;
    margin: 20px 0;
}
.page1 .card:hover {
    text-decoration: none;
    transform: translateY(-12px);
    box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
}

.page4 {
    min-height: 715px;
    padding: 130px 0;
    background: #f8fafe;
}
.page4 .slick-slide {
    height: 455px;
}
.page4 .slick-slide .user {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    margin: auto;
}
.page4 .slick-slide .comment {
    line-height: 48px;
    font-size: 20px;
    width: 100%;
    max-width: 680px;
    margin: 41px auto 47px;
    position: relative;
    color: #545454;
    font-weight: 300;
}
.page4 .slick-slide .comment > img {
    position: absolute;
    left: -40px;
    top: -15px;
}
.page4 .slick-slide > h4 {
    font-size: 30px;
    line-height: 38px;
    font-weight: normal;
}
.page4 .slick-slide > p {
    margin-top: 16px;
    font-size: 14px;
    color: #888888;
    font-weight: 300;
}
.page4 .slick-dots li {
    margin: 0 8px;
}
.page4 .slick-dots li button {
    transition: opacity 0.3s;
    width: 10px !important;
    height: 10px !important;
    background: #1890ff;
    border-radius: 100%;
}
.page4 .slick-dots li button:hover::before,
.page4 .slick-dots li button:focus::before {
    opacity: 1;
    background: #1890ff;
    width: 20px;
    height: 20px;
}
.page4 .slick-dots li button::before {
    transition: color 0.3s;
}
.page4 .slick-dots li.slick-active button {
    background: #1890ff;
}
.page4 .slick-dots li.slick-active button::before {
    opacity: 1;
    background: #1890ff;
}
.page5 {
    min-height: 590px;
}
.page5 h2 {
    margin: 120px auto 25px;
}
.page5 > span {
    margin-bottom: 72px;
}
.page5 .ant-row > div {
    margin-bottom: 20px;
}
