.page1 .ant-card {
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    color: #868e96;
    display: inline-block;
    max-width: 360px;
    height: 272px;
    padding: 22px;
    box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
    margin: 0 auto;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    text-align: center;
    border-radius: 4px;
}
.page1 .ant-card .card-img-top {
    width: 100%;
    border-top-left-radius: calc(-0.75rem);
    border-top-right-radius: calc(-0.75rem);
}
.page1 .ant-card h3 {
    font-size: 30px;
}
.page1 .ant-card img {
    height: 50px;
    margin: 20px 0;
}
.page1 .ant-card:hover {
    text-decoration: none;
    transform: translateY(-12px);
    box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
}

.page1 .description.text-secondary {
    font-size: "1.1rem";
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.3s;
}

.page1 .ant-card:hover .description.text-secondary {
    color: rgba(0, 0, 0, 0.85);
}
