.policyDetailsTabs .ant-tabs-tab.ant-tabs-tab-active {
    background: white !important;
}

.policyDetailsTabs .ant-tabs-tab {
    border-radius: 10px 10px 0 0 !important;
    background: #f6f6f6 !important;
}
