<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Change to your premium</title>
    </head>
    <body>
        <p></p>
        <p>
            {{changer.first_name}} {{changer.last_name}} made changes to your
            policy {{policy.name}}
        </p>

        <p>Your new premium is: ${{ new_premium|floatformat:2 }}</p>

        <a
            href="{{policy_link}}"
            target="_blank"
            style="
                cursor: pointer;
                padding: 10px;
                margin: 10px 0;
                border-radius: 5px;
            "
            >View changes now</a
        >
    </body>
</html>
